# Build artifacts
build/
dist/
*.egg-info/
*.egg
__pycache__/
.pytest_cache/
.coverage
htmlcov/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.env
.venv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

results
rnn_params/finkelstein_fontolan